<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj pozycję</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Dodaj Część </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-info" href="#" th:href="@{/parts/all}"> Wróć do listy części </a>
      <form action="#" class="form-horizontal"
            th:action="@{/parts/save}"
            th:object="${form}"
            method="post">
        <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Zapisz">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Wyczyść"/>
					</span>
          <table class="table">
            <thead>
            <tr>
              <th> Nazwa</th>
              <th> Ilość</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="part, itemStat : *{parts}">
              <td><input th:placeholder="Nazwa + ' ' + ${itemStat.count}" th:field="*{parts[__${itemStat.index}__].name}" required/></td>
              <td><input th:placeholder="ilość + ' ' + ${itemStat.count}" th:field="*{parts[__${itemStat.index}__].quantity}" required/></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>