<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <title>Manager Produktów</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<h1>create Employee</h1>
<div>
    <form action="#" th:action="@{/employees/create}" method="post">
        <div>
            <label for="firstName">Imię</label>
            <input id="firstName" type="text" name="firstName">
        </div>     <div>
            <label for="lastName">Nazwisko</label>
            <input id="lastName" type="text" name="lastName">
        </div>        <div>
            <label for="position">Stanowisko</label>
            <input id="position" type="text" name="position">
        </div>     <div>
            <label for="occupation">Hasło</label>
            <input id="occupation" type="text" name="occupation">
        </div>

        <button type="submit">Dodaj</button>
    </form>
</div>
</body>
</html>