<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz Awizo</title>
    <!--    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/mainold.css}"/>

</head>
<body class="bg-gray-400">

<div class="mt-5">

    <form action="#" th:action="@{/jobs/create}" th:object="${job}" method="post"
          enctype="multipart/form-data">

        <input type="hidden" th:field="${job.id}">
        <input type="hidden" th:field="*{solution}">
        <input type="hidden" th:field="*{status}">
        <input type="hidden" th:field="*{jobStopTime}">

        <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-4xl font-semibold text-gray-900">Rejestracja serwisu i obsługi  maszyn oraz innych urządzeń</h1>
                    <p class="mt-2 text-lm text-gray-700">Formularz zgłoszenia</p>
                </div>
            </div>

            <div class="overflow-hidden bg-gray-700 shadow sm:rounded-lg">
                <div class="px-4 py-2 sm:px-6">
                    <h3 class="text-2xl font-medium leading-6 text-yellow-400">Dane dotyczące obsługi</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-400">Nalezy wypełnić wszystkie pola, w celu przekazania
                        mechanikowi wszelkich możliwych informacji</p>

                </div>
            </div>
        </div>

        <div class="px-1 sm:px-6 lg:px-8 py-2">
            <div class="overflow-hidden bg-gray-300 shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">

                    <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-4">
                        <div class="sm:col-span-3">
                            <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-3">
                                <div class="sm:col-span-1">
                                    <label for="employee"
                                           class="block text-sl font-medium leading-6 text-gray-500">Zgłaszający</label>

                                    <div class="mt-2">
                                        <select name="employee" id="employee" autocomplete="employee"
                                                th:field="${job.employee.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                            <option th:each="employee : ${employees}"
                                                    th:text="${employee.name}"
                                                    th:value="${employee.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="sm:col-span-1">
                                    <label for="department"
                                           class="block text-sl font-medium leading-6 text-gray-500">Wydział</label>

                                    <div class="mt-2">
                                        <select name="department" id="department" autocomplete="type"
                                                th:field="${job.department.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                            <option th:each="department : ${departments}"
                                                    th:text="${department.name}"
                                                    th:value="${department.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="sm:col-span-1">
                                    <label for="machine"
                                           class="block text-sl font-medium leading-6 text-gray-500">Maszyna</label>

                                    <div class="mt-2">
                                        <select name="machine" id="machine" autocomplete="type"
                                                th:field="${job.machine.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                            <option th:each="machine : ${machines}"
                                                    th:text="${machine.name}"
                                                    th:value="${machine.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-span-1">

                            <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2">
                                <div class="sm:col-span-2">
                                    <label for="jobStatus"
                                           class="block text-sl font-medium leading-6 text-gray-500">Status</label>
                                    <div class="mt-2">
                                        <select name="jobStatus" id="jobStatus" autocomplete="off"
                                                th:field="*{jobStatus}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6" onchange="disableSelectBoxJob()">

                                            <option th:each="jobStatus : ${T(pl.medos.cmmsApi.enums.JobStatus).values()}"
                                                    th:value="${jobStatus}" th:text="${jobStatus}">

                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="invisible sm:col-span-2" id="hideDate">

                                    <div class="mt-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-100 sm:pt-5">
                                        <label for="jobShedule"
                                               class="text-lm font-medium text-green-700 sm:mt-px sm:pt-2">Data
                                            rozpoczęcia
                                            zlecenia</label>
                                        <div class="mt-1 sm:col-span-2 sm:mt-0">

                                            <input type="datetime-local" th:field="${job.jobShedule}"
                                                   id="jobShedule"
                                                   name="jobShedule"
                                                   autocomplete="datetime-local"
                                                   class="w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-xl">
                                        </div>
                                    </div>


                                    <div class="mt-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:pt-5">
                                        <label for="repeatable"
                                               class="block text-sl font-medium leading-6 text-gray-500">Cykliczny</label>
                                        <div class="mt-2">
                                            <select name="repeatable" id="repeatable" autocomplete="off"
                                                    th:field="*{decision}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6" onchange="disableCycleJob()">

                                                <option th:each="decision : ${T(pl.medos.cmmsApi.enums.Decision).values()}"
                                                        th:value="${decision}" th:text="${decision}">

                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="invisible sm:col-span-2" id="hideOffset">
                                    <div class="mt-4 sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:border-t sm:border-gray-100 sm:pt-5">

                                        <div class="sm:col-span-1">
                                            <label for="offset"
                                                   class="block text-sl font-medium leading-6 text-gray-500">Ilość</label>
                                            <div class="mt-2">
                                                <input type="text" name="offset-name" id="offset"
                                                       autocomplete="offset"
                                                       th:field="${job.offset}"
                                                       class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                            </div>
                                        </div>

                                        <div class="sm:col-span-1">
                                            <label for="frequency"
                                                   class="block text-sl font-medium leading-6 text-gray-500">Jednostka</label>

                                            <select name="frequency" id="frequency" autocomplete="off"
                                                    th:field="*{dateOffset}" class="block mt-2 w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">

                                                <option th:each="dateOffset : ${T(pl.medos.cmmsApi.enums.DateOffset).values()}"
                                                        th:value="${dateOffset}" th:text="${dateOffset}">

                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2">
                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Zdjęcie</dt>
                            <dd class="mt-1 text-sm text-gray-900">
                                <ul role="list "
                                    class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                    <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                        <div class="flex w-0 flex-1 items-center">
                                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            <span class="ml-2 w-0 flex-1 truncate">Fotografia</span>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <!--                                                <a href="#"-->
                                            <!--                                                   class="font-medium text-indigo-600 hover:text-indigo-500">Dołącz</a>-->
                                            <input type="file" accept="image/*" id="image" name="image"
                                                   class="font-medium text-indigo-600 hover:text-indigo-500">
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </div>


                    <div class="px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                            <div class="sm:col-span-1">
                                <div class="space-y-6 sm:space-y-5">
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-300 sm:pt-5">
                                        <label for="message"
                                               class="block-w-full text-xl font-medium text-red-600 sm:mt-px sm:pt-2">Informacje
                                            o
                                            zgłoszeniu</label>
                                        <div class="mt-1 sm:col-span-3 sm:mt-0">
                                        <textarea th:field="*{message}" id="message" rows="4"
                                                  class="block p-2.5 w-full text-xl text-blue-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                  placeholder="Opisz problem jaki wystepuje na maszynie lub urządzeniu"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dl>
                    </div>

                    <div class="pt-5">
                        <div class="flex justify-end">
                            <button type="button"
                                    class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                <a th:href="@{/jobs}">Wstecz</a>
                            </button>
                            <button type="submit"
                                    class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                Zapisz
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    function disableSelectBoxJob() {
console.log('disableSelectBoxJob')
var field1Value = document.getElementById("jobStatus").value;
var field2Select = document.getElementById("hideDate");

if ((field1Value === "PRZEGLĄD") || (field1Value === "SZKOLENIE")) {
field2Select.style.visibility = "visible";
} else {
field2Select.style.visibility = "hidden";
}
}

        function disableCycleJob() {
console.log('disableCycleJob')
var field3Value = document.getElementById("repeatable").value;
var field4Select = document.getElementById("hideOffset");

if (field3Value === "TAK") {
field4Select.style.visibility = "visible";
} else {
field4Select.style.visibility = "hidden";
}
}


</script>


<!--<script th:src="@{/js/disableField.js}"></script>-->
</body>
</html>