<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create Client</title>
</head>
<body>
<h1>create Client</h1>
<div>
    <form action="#" th:action="@{/clients/create}" method="post">
        <div>
            <label for="firstName">Imię</label>
            <input id="firstName" type="text" name="firstName">
        </div>     <div>
            <label for="lastName">Nazwisko</label>
            <input id="lastName" type="text" name="lastName">
        </div>        <div>
            <label for="login">Login</label>
            <input id="login" type="text" name="login">
        </div>     <div>
            <label for="password">Hasło</label>
            <input id="password" type="password" name="password">
        </div>

        <button type="submit">add</button>
    </form>
</div>
</body>
</html>