<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <title>Moduł Zadań</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-400">
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-6xl font-semibold text-gray-900">Zlecenia</h1>


            <form action="#" th:action="@{/jobs/create}" th:object="${job}" method="post"
                  class="space-y-8 divide-y divide-gray-700">
                <div class="space-y-8 divide-y divide-gray-700 sm:space-y-5">
                    <div class="space-y-6 sm:space-y-6">
                        <div>
                            <h3 class="text-3xl font-semibold leading-6 text-gray-700">Panel Rejestracji Zgłoszenia</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">Zestawienie wszystkich zgłoszonych awarii /
                                zleceń
                                serwisowych.</p>
                        </div>

                        <div class="space-y-6 sm:space-y-5">

                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-700 sm:pt-5">
                                <label for="message"
                                       class="block text-xl font-medium text-red-600 sm:mt-px sm:pt-2">Informacje o
                                    zgłoszeniu</label>
                                <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <textarea id="message" name="message" rows="3"
                                              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                                    <p class="mt-2 text-sm text-gray-700">Wprowadź informację, czego dotyczy awaria lub
                                        zlecenie.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Dane Zadania</h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-700">Należy wprowadzić wszystkie dane, w celu
                            poprawnej
                            identyfikacji.</p>
                    </div>


                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-500 sm:pt-5">
                        <label for="employeeId"
                               class="block text-lm font-medium text-gray-700 sm:mt-px sm:pt-2">Pracownik</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <select th:field="${job.employee.id}" id="employeeId" name="employeeId"
                                    autocomplete="employee"
                                    class="block w-full max-w-lg rounded-md border-gray-600 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">

                                <option th:each="employee : ${employees}"
                                        th:text="${employee.firstName}"
                                        th:value="${employee.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-500 sm:pt-5">
                        <label for="machineId"
                               class="block text-lm font-medium text-gray-700 sm:mt-px sm:pt-2">Maszyna /
                            Przedmiot</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <select th:field="${job.machine.id}" id="machineId" name="machineId" autocomplete="machine"
                                    class="block w-full max-w-lg rounded-md border-gray-600 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">

                                <option th:each="machine : ${machines}"
                                        th:text="${machine.model}"
                                        th:value="${machine.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-500 sm:pt-5">
                        <label for="departmentId"
                               class="block text-lm font-medium text-gray-700 sm:mt-px sm:pt-2">Wydział</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <select th:field="${job.department.id}" id="departmentId" name="departmentId"
                                    autocomplete="department"
                                    class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">

                                <option th:each="department : ${departments}"
                                        th:text="${department.name}"
                                        th:value="${department.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-500 sm:pt-5">
                    <label for="jobStartTime"
                           class="block text-lm font-medium text-green-700 sm:mt-px sm:pt-2">Data rozpoczęcia
                        zlecenia</label>
                    <div class="mt-1 sm:col-span-2 sm:mt-0">

                        <input type="datetime-local" th:field="${job.jobStartTime}" id="jobStartTime"
                               name="jobStartTime"
                               autocomplete="date"
                               class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-500 sm:pt-5">
                    <label for="jobStartTime"
                           class="block text-lm font-medium text-blue-700 sm:mt-px sm:pt-2">Data zakończenia
                        zlecenia</label>
                    <div class="mt-1 sm:col-span-2 sm:mt-0">

                        <input type="datetime-local" th:field="${job.jobStopTime}" id="jobStopTime" name="jobStopTime"
                               autocomplete="date"
                               class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">
                    </div>
                </div>

                <div class="pt-6 sm:pt-5">
                    <div role="group" aria-labelledby="date-register">
                        <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">

                            <div>
                                <div class="block text-lm font-medium text-gray-800 sm:mt-px sm:pt-2"
                                     id="date-register">Data zgłoszenia
                                </div>
                            </div>

                            <!--                    <div class="mt-4 space-y-4">-->
                            <!--                        <label for="jobStartTime">Data podjęcia działania:</label>-->
                            <!--                        <input type="date" th:field="${job.jobStartTime}" id="jobStartTime"-->
                            <!--                               class="block w-full max-w-lg rounded-md border-gray-300 shadow-xl focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm">-->
                            <!--                    </div>-->

                            <!--                    <div class="mt-4 space-y-4">-->
                            <!--                        <label for="jobStopTime">Data zakończenia naprawy:</label>-->
                            <!--                        <input type="date" th:field="${job.jobStopTime}" id="jobStopTime"-->
                            <!--                               class="block w-full max-w-lg rounded-md border-gray-300 shadow-xl focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm">-->
                            <!--                    </div>-->
                            <!--                </div>-->
                            <div class="space-y-6 divide-y divide-gray-800 pt-8 sm:space-y-5 sm:pt-10">

                                <div>
                                    <h3 class="text-lm font-medium leading-6 text-gray-800">Powiadomienia</h3>
                                    <p class="mt-1 max-w-2xl text-sm text-gray-500">W przypadku awarii powiadomienie
                                        wysłac do:.</p>
                                </div>
                                <div class="space-y-6 divide-y divide-gray-500 sm:space-y-5">
                                    <div class="pt-6 sm:pt-5">
                                        <div role="group" aria-labelledby="label-email">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                                                <div>
                                                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700"
                                                         id="label-email">przez email
                                                    </div>
                                                </div>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <div class="max-w-lg space-y-4">
                                                        <div class="relative flex items-start">
                                                            <div class="flex h-5 items-center">
                                                                <input id="comments" name="comments" type="checkbox"
                                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                            </div>
                                                            <div class="ml-3 text-sm">
                                                                <label for="comments" class="font-medium text-gray-700">Kierownik
                                                                    produkcji</label>
                                                                <p class="text-gray-500">Powiadomienie o pojawieniu się
                                                                    awarii na
                                                                    wydziale.</p>
                                                            </div>
                                                        </div>
                                                        <div class="relative flex items-start">
                                                            <div class="flex h-5 items-center">
                                                                <input id="jobs" name="jobs" type="checkbox"
                                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                            </div>
                                                            <div class="ml-3 text-sm">
                                                                <label for="jobs" class="font-medium text-gray-700">Kierownik
                                                                    utrzymania
                                                                    ruchu</label>
                                                                <p class="text-gray-500">Powiadomienie o konieczności
                                                                    wezwania
                                                                    technika.</p>
                                                            </div>
                                                        </div>
                                                        <div class="relative flex items-start">
                                                            <div class="flex h-5 items-center">
                                                                <input id="raports" name="raports" type="checkbox"
                                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                            </div>
                                                            <div class="ml-3 text-sm">
                                                                <label for="raports" class="font-medium text-gray-700">Dyrektor
                                                                    zakładu</label>
                                                                <p class="text-gray-500">Powiadomienie w sprawach
                                                                    pilnych dyrektora
                                                                    zakładu.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-6 sm:pt-5">
                                        <div role="group" aria-labelledby="label-notifications">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                                                <div>
                                                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700"
                                                         id="label-notifications">Kontakt i Wysyłanie Alertów Mobilnych
                                                    </div>
                                                </div>
                                                <div class="sm:col-span-2">
                                                    <div class="max-w-lg">
                                                        <p class="text-sm text-gray-500">Dostarczenie wiadomości SMS na
                                                            telefon
                                                            służbowy.</p>
                                                        <div class="mt-4 space-y-4">
                                                            <div class="flex items-center">
                                                                <input id="pushEverythink" name="pushNotifications"
                                                                       type="radio"
                                                                       class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="pushEverythink"
                                                                       class="ml-3 block text-sm font-medium text-gray-700">Wszystko</label>
                                                            </div>
                                                            <div class="flex items-center">
                                                                <input id="pushEmail" name="pushNotifications"
                                                                       type="radio"
                                                                       class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="pushEmail"
                                                                       class="ml-3 block text-sm font-medium text-gray-700">Identycznie
                                                                    jak
                                                                    w opcji email</label>
                                                            </div>
                                                            <div class="flex items-center">
                                                                <input id="pushNothing" name="pushNotifications"
                                                                       type="radio"
                                                                       class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                                <label for="pushNothing"
                                                                       class="ml-3 block text-sm font-medium text-gray-700">Brak
                                                                    wysyłania
                                                                    powiadomień</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="flex justify-end">
                            <button type="button"
                                    class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                <a th:href="@{/jobs}">Wstecz</a>
                            </button>
                            <button type="submit"
                                    class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                Zapisz
                            </button>
                        </div>
                    </div>
                </div>
            </form>
</body>
</html>