<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel IT Dodawnie sprzętu</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/disableSelect.js"></script>

</head>
<body class="bg-gray-400">
<form action="#" th:action="@{/hardwares/create}" th:object="${hardware}" method="post">

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-6xl font-semibold text-gray-900">Urządzenie</h1>
                <p class="mt-2 text-lm text-gray-700">Dodawanie urządzenia do bazy</p>
            </div>

        </div>

        <div class="overflow-hidden bg-gray-700 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg font-medium leading-6 text-yellow-400">Dane Przedmiotu</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-400">Opis techniczny sprzętu / urządzenia</p>
            </div>
        </div>
    </div>

    <div class="px-4 sm:px-6 lg:px-8 py-10">
        <div class="overflow-hidden bg-gray-300 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-1">
                        <label for="type" class="block text-sl font-medium leading-6 text-gray-500">Typ
                            Urządzenia</label>

                        <div class="mt-2">
                            <select name="type" id="type" autocomplete="type" th:field="*{type}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">

                                <option th:each="type : ${T(pl.medos.cmmsApi.enums.Device).values()}"
                                        th:value="${type}" th:text="${type}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="type" class="block text-sl font-medium leading-6 text-gray-500">Status</label>
                        <div class="mt-2">
                            <select name="status" id="status" autocomplete="status" th:field="*{status}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6" onchange="disableSelectBox()">

                                <option th:each="status : ${T(pl.medos.cmmsApi.enums.Status).values()}"
                                        th:value="${status}" th:text="${status}">

                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="installDate" class="block text-sl font-medium leading-6 text-gray-500">Data
                            zakupu</label>
                        <div class="mt-2">
                            <input type="date" th:field="${hardware.installDate}" name="installDate"
                                   id="installDate"
                                   autocomplete="date"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="type" class="block text-sl font-medium leading-6 text-gray-500">Uprawnienia</label>
                        <div class="mt-2">
                            <select name="permission" id="permission" th:field="*{permission}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6" onchange="disableSelectBox()">

                                <option th:each="permission : ${T(pl.medos.cmmsApi.enums.Permission).values()}"
                                        th:value="${permission}" th:text="${permission}">

                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
                    <div class="sm:col-span-1">
                        <label for="last-name"
                               class="block text-sl font-medium leading-6 text-gray-500">Nazwa</label>
                        <div class="mt-2">
                            <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                                   th:field="${hardware.name}"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="serialNumber" class="block text-sl font-medium leading-6 text-gray-500">Numer
                            Seryjny / Service
                            Tag</label>
                        <div class="mt-2">
                            <input id="serialNumber" name="serialNumber" type="text" autocomplete="eserialNumber"
                                   th:field="${hardware.serialNumber}"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="department" class="block text-sl font-medium leading-6 text-gray-500">Dział
                      </label>
                        <div class="mt-2">
                            <input id="department" name="serialNumber" type="text" autocomplete="department"
                                   th:field="${hardware.department}"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="employee" class="block text-sl font-medium leading-6 text-gray-500">Imię i Nazwisko</label>
                        <div class="mt-2">
                            <input id="employee" name="employee" type="text" autocomplete="employee"
                                   th:field="${hardware.employee}"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

<!--                    <div class="sm:col-span-1">-->
<!--                        <label for="department"-->
<!--                               class="block text-sl font-medium leading-6 text-gray-500">Dział</label>-->
<!--                        <div class="mt-2">-->
<!--                            <select th:field="${hardware.department.id}" id="department" name="department"-->
<!--                                    autocomplete="department"-->
<!--                                    class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6 [&_*]:text-black">-->
<!--                                <option th:each="department : ${departments}"-->
<!--                                        th:text="${department.name}"-->
<!--                                        th:value="${department.id}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="sm:col-span-1">-->
<!--                        <label for="department"-->
<!--                               class="block text-sl font-medium leading-6 text-gray-500">Użytkownik</label>-->
<!--                        <div class="mt-2">-->
<!--                            <select th:field="${hardware.employee.id}" id="employeeId" name="employeeId"-->
<!--                                    autocomplete="employeeId"-->
<!--                                    class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6 [&_*]:text-black">-->
<!--                                <option th:each="employee : ${employees}"-->
<!--                                        th:text="${employee.name}"-->
<!--                                        th:value="${employee.id}">-->

<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="sm:col-span-1 sm:col-start-1">
                        <label for="ipAddress" class="block text-sl font-medium leading-6 text-gray-500">Adres
                            IP</label>
                        <div class="mt-2">
                            <input type="text" name="ipAddress" id="ipAddress" autocomplete="ipAddress"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="macAddress" class="block text-sl font-medium leading-6 text-gray-500">Adres
                            MAC</label>
                        <div class="mt-2">
                            <input type="text" name="macAddress" id="macAddress" autocomplete="macAddress"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="netBios"
                               class="block text-sl font-medium leading-6 text-gray-500">netBIOS</label>
                        <div class="mt-2">
                            <input type="text" name="netBios" id="netBios" autocomplete="netBios"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="systemNo" class="block text-sl font-medium leading-6 text-gray-500">Wersja
                            OS</label>
                        <div class="mt-2">
                            <input type="text" name="systemNo" id="systemNo" autocomplete="systemNo"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="accessories" class="block text-sl font-medium leading-6 text-gray-500">Dodatkowe
                            wyposażenie</label>
                        <div class="mt-2">
                            <input type="text" name="accessories" id="accessories" autocomplete="accessories"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="inventoryNo" class="block text-sl font-medium leading-6 text-gray-500">Numer
                            inwentarzowy</label>
                        <div class="mt-2">
                            <input type="text" name="inventoryNo" id="inventoryNo" autocomplete="inventoryNo"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-1">
                        <label for="invoiceNo" class="block text-sl font-medium leading-6 text-gray-500">Dokument
                            zakupu</label>
                        <div class="mt-2">
                            <input type="text" name="invoiceNo" id="invoiceNo" autocomplete="invoiceNo"
                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <div class="flex justify-end">
                <button type="button"
                        class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <a th:href="@{/hardwares}">Wstecz</a>
                </button>
                <button type="submit"
                        class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Zapisz
                </button>
            </div>
        </div>
    </div>
</form>
<script src="/js/disableField.js"></script>
</body>


</html>