<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Faktura</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-400">
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-6xl font-semibold text-gray-900">Faktura</h1>


            <form action="#" th:action="@{/invoices/create}" th:object="${invoice}" method="post"
                  class="space-y-8 divide-y divide-gray-700">
                <div class="space-y-8 divide-y divide-gray-700 sm:space-y-5">
                    <div class="space-y-6 sm:space-y-6">
                        <div>
                            <h3 class="mt-2 text-3xl font-semibold leading-6 text-gray-700">Panel Rejestracji
                                Faktury</h3>
                            <p class="mt-2 max-w-2xl text-sm text-gray-500">Umożliwa zarejestrowanie faktury w
                                systemie</p>
                        </div>

                    </div>
                </div>

                <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
                    <div>
                        <h3 class="text-xl font-medium leading-6 text-yellow-800">Dane Faktury</h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-700">Należy wprowadzić wszystkie dane, w celu
                            poprawnej identyfikacji.</p>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-400 sm:pt-5">
                        <label for="invoice-id"
                               class="block text-lm font-medium text-blue-800 sm:mt-px sm:pt-2"></label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">

                            <input type="hidden" th:field="${invoice.id}" id="invoice-id" name="invoice-id"
                                   autocomplete="invoice"
                                   class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-400 sm:pt-5">
                        <label for="invoice-nb"
                               class="block text-lm font-medium text-blue-800 sm:mt-px sm:pt-2">Numer faktury</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">

                            <input type="text" th:field="${invoice.number}" id="invoice-nb"
                                   name="invoice-nb"
                                   autocomplete="invoice"
                                   class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-400 sm:pt-5">
                        <label for="invoice-cost"
                               class="block text-lm font-medium text-blue-800 sm:mt-px sm:pt-2">NIP</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">

                            <input type="text" th:field="${invoice.price}" id="invoice-cost"
                                   name="invoice-cost"
                                   autocomplete="invoice"
                                   class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-400 sm:pt-5">
                        <label for="invoice-supplier"
                               class="block text-lm font-medium text-blue-800 sm:mt-px sm:pt-2">Dostawca</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <select th:field="${invoice.supplier.id}" id="invoice-supplier" name="invoice-supplier"
                                    autocomplete="invoice"
                                    class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-lm">

                                <option th:each="supplier : ${suppliers}"
                                        th:text="${supplier.name}"
                                        th:value="${supplier.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="space-y-6 sm:space-y-5">

                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-700 sm:pt-5">
                        <label for="message"
                               class="block text-xl font-medium text-gray-700 sm:mt-px sm:pt-2">Dodatkowe informacje o
                            dostawcy</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                        <textarea id="message" name="message" rows="3"
                                  class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                            <p class="mt-2 text-sm text-gray-700">Wprowadź dodatkowe informacje na temat dostawcy.</p>
                        </div>
                    </div>
                </div>

                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="button"
                                class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">

                            <a th:href="@{/suppliers}">Wstecz</a>
                        </button>
                        <button type="submit"
                                class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Zapisz
                        </button>
                    </div>
                </div>
        </div>
        </form>
</body>
</html>