<!DOCTYPE html>
<html lang="en" class="h-full" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brak uprawnień</title>
    <link rel="stylesheet" th:href="@{/css/mainold.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="h-full">

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-xl font-semibold text-indigo-600">403</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Brak uprawnień!</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">Przykro nam, ale nie masz uprawnień dostępu do aplikacji.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
<!--            <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>-->
            <a href="#" class="text-sm font-semibold text-gray-900">Kontakt z działem IT <span aria-hidden="true">&rarr;</span><span> pomoc@medos.pl</span></a>
        </div>
    </div>
</main>

</body>
</html>