<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <title>Panel Maszyn</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-400">

<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-6xl font-semibold text-gray-900">Maszyny</h1>
            <p class="mt-2 text-lm text-gray-700">Lista maszyn znajdujących się w obrębie firmy Medos.</p>
        </div>
        <div class="mt-8 sm:mt-12 sm:ml-16 sm:flex-none">
            <button type="button"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
                <a th:href="@{/machines/create}">Dodaj</a>
            </button>
        </div>
    </div>
    <div class="mt-4 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full">
                        <thead class="bg-gray-800">
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-yellow-500 sm:pl-6">Index
                            </th>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-yellow-500 sm:pl-6">Nazwa
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-yellow-500 ">Typ/Model
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-yellow-500 ">
                                Rok produkcji
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-yellow-500 ">Numer seryjny</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-yellow-500 ">Wydział</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-yellow-500 ">Status
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 lm:pr-6">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-gray-500">
                        <tr class="border-t border-gray-700">
                            <th colspan="8" scope="colgroup"
                                class="bg-green-800 px-4 py-2 text-left text-lm font-semibold text-gray-300 sm:px-6">
                                Aktywne Maszyny
                            </th>
                        </tr>

                        <tr th:each="machine : ${machines}" class="border-t border-gray-300">
                            <td th:text="${machine.id}"
                                class="whitespace-nowrap py-4 pl-4 pr-3 text-lm font-medium text-gray-900 sm:pl-6">
                                Index
                            </td>
                            <td th:text="${machine.name}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Nazwa
                            </td>
                            <td th:text="${machine.model}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Typ/Model
                            </td>
                            <td th:text="${machine.manufactured}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Rok Produkcji
                            </td>
                            <td th:text="${machine.serialNumber}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Numer Seryjny
                            </td>
                            <td th:text="${machine.department.name}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Wydział
                            </td>
                            <td th:text="${machine.status}"
                                class="whitespace-nowrap px-3 py-4 text-lm text-gray-900">Status
                            </td>

                            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-lm font-medium sm:pr-6">
                                <a th:href="@{/machines/update/{id}(id=${machine.id})}"
                                   class="text-indigo-800 hover:text-indigo-900">Edycja<span class="sr-only"></span></a>
                                <a th:href="@{/machines/read/{id}(id=${machine.id})}"
                                   class="text-indigo-800 hover:text-indigo-900">Pokaż<span class="sr-only"></span></a>
                                <a th:href="@{/machines/delete/{id}(id=${machine.id})}"
                                   class="text-indigo-800 hover:text-indigo-900">Usuń<span class="sr-only"></span></a>
                            </td>
                        </tr>
                        <!-- More people... -->
                        </tbody>
                        <tbody class="bg-white">
                        <tr class="border-t border-gray-200">
                            <th colspan="8" scope="colgroup"
                                class="bg-yellow-700 px-4 py-2 text-left text-lm font-semibold text-gray-900 sm:px-6">
                                Maszyny wycofane z eksploatacji
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>