<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wszystkie pozycje</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Części</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Nazwa </th>
                    <th> Ilość </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${parts.empty}">
                    <td colspan="2"> Brak dostępnych pozycji</td>
                </tr>
                <tr th:each="part : ${parts}">
                    <td><span th:text="${part.name}"> Nazwa </span></td>
                    <td><span th:text="${part.quantity}"> Ilość </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/parts/create}"> Dodaj</a>
            <a class="btn btn-primary" href="#" th:href="@{/parts/edit}" th:classappend="${parts.empty} ? 'disabled' : ''"> Edytuj</a>
        </div>
    </div>
</div>
</body>
</html>