<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account details</title>
</head>
<body>
<h1>Account details</h1>
<div>
    <div>
        <span for="number">Numer konta</span>
        <span th:text="${account.number}"></span>

    </div>
    <div>
        <span for="balance">Saldo</span>
        <span th:text="${account.balance}"></span>
    </div>
    <div>
        <span for="currency">Waluta</span>
        <span th:text="${account.currency}"></span>
    </div>
    <div>
        <form action="#" th:action="@{/accounts/convert/{id}(id=${account.id})}" method="post">
            <label for="currencies">Choose a currency:</label>

            <select name="currency" id="currencies">
                <option value="EUR">Euro</option>
                <option value="USD">Dollar</option>
                <option value="CHF">Frank</option>
                <option value="GBP">Pounds</option>
            </select>
            <button type="submit">Convert</button>
        </form>
    </div>
    <div>
        <span >Przeliczona waluta</span>
        <span th:text="${account.currencyBalance}"></span>
    </div>
</div>

</body>
</html>