<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Zlecenia</title>
<!--    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">-->
    <link th:href="@{/css/mainold.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-500">
<div class="min-h-full">
    <div class="bg-gray-800 pb-32">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-18">
                <div class="border-b border-blue-800">
                    <div class="flex h-16 items-center justify-between px-4 sm:px-0">
                        <div class="flex items-center">
                            <div class="flex flex-shrink-0 items-center px-4">
                                <img class="h-12 w-auto" th:src="@{/images/logo.svg}" alt="Medos"/>

                                <div class="hidden md:block">
                                    <div class="ml-24 flex items-baseline space-x-4">
                                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                    </div>
                                </div>
                            </div>
                            <div class="hidden md:block">
                                <div class="ml-4 flex items-center md:ml-6">

                                </div>
                            </div>
                            <div class="-mr-2 flex md:hidden">
                                <!-- Mobile menu button -->
                                <button type="button"
                                        class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                        aria-controls="mobile-menu" aria-expanded="false">
                                    <span class="sr-only">Open main menu</span>
                                    <!-- Menu open: "hidden", Menu closed: "block" -->
                                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                                    </svg>
                                    <!-- Menu open: "block", Menu closed: "hidden" -->
                                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="border-b border-gray-700 md:hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 py-3 sm:px-3">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    </div>
                </div>
            </div>
        </nav>
        <header class="py-10">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-x-2 gap-y-8 sm:grid-cols-2">
                    <div>
                        <h1 th:text="'Aktualizacja urządzenia nr: ' + ${hardware.inventoryNo}"
                            class="sm:col-span-1 text-3xl font-bold tracking-tight text-yellow-600"></h1>
                    </div>
                </div>
            </div>

        </header>
    </div>

    <form action="#" th:action="@{/hardwares/update}" th:object="${hardware}" method="post">

        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="${hardware.id}">
        <input type="hidden" th:field="*{type}">
        <input type="hidden" th:field="*{serialNumber}">
        <input type="hidden" th:field="*{installDate}">
        <input type="hidden" th:field="*{inventoryNo}">
        <input type="hidden" th:field="*{invoiceNo}">

        <main class="-mt-32">
            <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">

                <div class="overflow-hidden bg-gray-300 shadow sm:rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-base font-semibold leading-6 text-gray-900">Informacja o sprzęcie</h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Szczegółowe zestawienie informacji o wybranym
                            urządzeniu</p>
                    </div>
                    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-4">

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Typ Urządzenia</dt>
                                <dd th:text="${hardware.type}" id="hardwareType" name="hardwareType"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Nazwa</dt>
                                <dd th:text="${hardware.name}" id="view-name" name="view-name"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">SN / ServiceTag</dt>
                                <dd th:text="${hardware.serialNumber}" id="serialNumber"
                                    name="serialNumber"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Dokument zakupu</dt>
                                <dd th:text="${hardware.invoiceNo}" id="invoiceNo"
                                    name="invoiceNo"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Status</dt>
                                <dd th:text="${hardware.status}" id="viewstatus"
                                    name="viewstatus"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Data zakupu</dt>
                                <dd th:text="${#temporals.format(hardware.installDate, 'dd MMMM yyyy')}"
                                    id="installDate" name="installDate"
                                    class="mt-1 text-sm text-gray-900">
                                    Data
                                </dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-400">Office</dt>
                                <dd th:text="${hardware.officeName}" id="software-name"
                                    name="software-name"
                                    class="mt-1 text-sm text-gray-900">XXXXXXXXXX
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div class="px-4 sm:px-6 lg:px-8 py-2">
                        <div class="overflow-hidden bg-gray-200 shadow sm:rounded-xl">
                            <div class="px-4 py-5 sm:px-6">

                                <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-3">
                                    <div class="sm:col-span-1">
                                        <label for="status"
                                               class="block text-sl font-medium leading-6 text-gray-500">Status</label>
                                        <div class="mt-2">
                                            <select name="status" id="status" autocomplete="W_UŻYCIU"
                                                    onload="disableSelectBox()" onchange="disableSelectBox()"
                                                    th:field="*{status}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">

                                                <option th:each="status : ${T(pl.medos.cmmsApi.enums.Status).values()}"
                                                        th:value="${status}" th:text="${status}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-3">

                                    <div class="sm:col-span-1">
                                        <label for="employee"
                                               class="block text-sl font-medium leading-6 text-gray-500">Imię i
                                            Nazwisko</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.employee}" id="employee"
                                                   name="employee"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="department"
                                               class="block text-sl font-medium leading-6 text-gray-500">Dział</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.department}" id="department"
                                                   name="department"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="employee"
                                               class="block text-sl font-medium leading-6 text-gray-500">Wersja
                                            Systemu</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.systemNo}" id="systemNo"
                                                   name="systemNo"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-3">

                                    <div class="sm:col-span-1">
                                        <label for="ipAddress"
                                               class="block text-sl font-medium leading-6 text-gray-500">Adres
                                            IP</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.ipAddress}" id="ipAddress"
                                                   name="ipAddress"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="macAddress"
                                               class="block text-sl font-medium leading-6 text-gray-500">Adres
                                            MAC</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.macAddress}" id="macAddress"
                                                   name="macAddress"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="netBios"
                                               class="block text-sl font-medium leading-6 text-gray-500">Adres
                                            netBIOS</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.netBios}" id="netBios"
                                                   name="netBios"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="officeName"
                                               class="block text-sl font-medium leading-6 text-gray-500">Wersja
                                            office</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.officeName}" id="officeName"
                                                   name="officeName"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="officeNo"
                                               class="block text-sl font-medium leading-6 text-gray-500">Klucz /
                                            Konto</label>
                                        <div class="mt-2">
                                            <input th:field="${hardware.officeNo}" id="officeNo"
                                                   name="officeNo"
                                                   autocomplete="off"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="installDate"
                                               class="block text-sl font-medium leading-6 text-gray-500">Data
                                            aktywacji</label>
                                        <div class="mt-2">
                                            <input type="date" th:field="${hardware.activateDate}" name="activateDate"
                                                   id="activateDate"
                                                   autocomplete="date"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">

                                    <div class="sm:col-span-1">
                                        <label for="bitRecoveryKey"
                                               class="block text-sl font-medium leading-6 text-gray-500">Klucz
                                            szyfrowania</label>
                                        <div class="mt-2">
                                            <input type="text" th:field="${hardware.bitRecoveryKey}"
                                                   name="bitRecoveryKey"
                                                   id="bitRecoveryKey"
                                                   autocomplete="no"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-1">
                                        <label for="bitLockKey"
                                               class="block text-sl font-medium leading-6 text-gray-500">Identyfikator
                                            szyfrowania</label>
                                        <div class="mt-2">
                                            <input type="text" th:field="${hardware.bitLockKey}" name="bitLockKey"
                                                   id="bitLockKey"
                                                   autocomplete="no"
                                                   class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                        </div>
                                    </div>
                                </div>

                                <div class="px-4 py-5 sm:px-6">
                                    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                                        <div class="sm:col-span-2">
                                            <div class="pace-y-6 sm:space-y-5">

                                                <div class="bg-light-blue sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-300 sm:pt-5">
                                                    <label for="description"
                                                           class="block text-xl font-medium text-green-600 sm:mt-px sm:pt-2">Opis
                                                        urządzenia</label>
                                                    <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <textarea th:field="*{description}" id="description" name="description" rows="3"
                                              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm text-blue-700 focus:border-indigo-500 focus:ring-indigo-500 sm:text-lg"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
                                            <div class="sm:col-span-1">
                                                <label for="permission"
                                                       class="block text-xl font-medium leading-6 text-gray-500">Uprawnienia
                                                    użytkownika</label>
                                                <div class="mt-2">
                                                    <select name="permission" id="permission" autocomplete="NIE"
                                                            th:field="*{permission}" class="block w-fit rounded-md border-0 bg-white/5 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">

                                                        <option th:each="permission : ${T(pl.medos.cmmsApi.enums.Permission).values()}"
                                                                th:value="${permission}" th:text="${permission}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </dl>


                                    <div class="pt-5">
                                        <div class="flex justify-end">
                                            <button type="button"
                                                    class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                                <a th:href="@{/hardwares}">Wstecz</a>
                                            </button>
                                            <button type="submit"
                                                    class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                                Zapisz
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </form>
</div>
<!-- Your content -->


<script type="text/javascript">
    function disableSelectBox() {
 var field1Value = document.getElementById("status").value;
 var field2Select = document.getElementById("employee");
 var field3Select = document.getElementById("employee");

 if ((field1Value === "MAGAZYN_SERWEROWNIA") || (field1Value === "MAGAZYN_SZAFA") || (field1Value === "ZUTYLIZOWANY") || (field1Value === "DO_UTYLIZACJI")) {
 field2Select.disabled = true;
 field2Select.value = "";
 } else {
 field2Select.disabled = false;
 }
 }


</script>
</body>
</html>

