<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz Awizo</title>
    <!--    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/mainold.css}"/>

</head>
<body class="bg-gray-400">
<div class="mt-5">

    <form action="#" th:action="@{/employees/update/{id}(id=${employee.id}, pageNo=${pageNo})}"
          th:object="${employee}" method="post" enctype="multipart/form-data">

        <input type="hidden" th:field="${employee.id}">
        <input type="hidden" th:field="${pageNo}">
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-4xl font-semibold text-gray-900">Aktualizacja danych pracownika</h1>
                    <p class="mt-2 text-lm text-gray-700">Formularz edycji pracownika</p>
                </div>
            </div>

            <div class="overflow-hidden bg-gray-700 shadow sm:rounded-lg">
                <div class="px-4 py-2 sm:px-6">
                    <h3 class="text-2xl font-medium leading-6 text-yellow-400">Dane personalne</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-400">Nalezy wypełnić wszystkie pola.</p>

                </div>
            </div>
        </div>

        <div class="px-1 sm:px-6 lg:px-8 py-2">
            <div class="overflow-hidden bg-gray-300 shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">

                    <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                        <div class="sm:col-span-1">
                            <label for="name"
                                   class="block text-sl font-medium leading-6 text-gray-500">Imię i Nazwisko</label>
                            <div class="mt-2">
                                <input id="name" name="name" type="text"
                                       th:field="${employee.name}"
                                       class="block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                <!--                            <p class="text-red-500" th:if="${#fields.hasErrors('employee')}" th:errorclass="error" th:errors="*{employee}">-->
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="position"
                                   class="block text-sl font-medium leading-6 text-gray-500">Stanowisko</label>
                            <div class="mt-2">
                                <input id="position" name="position" type="text"
                                       th:field="${employee.position}"
                                       class="block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                <!--                            <p class="text-red-500" th:if="${#fields.hasErrors('employee')}" th:errorclass="error" th:errors="*{employee}">-->
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="phone"
                                   class="block text-sl font-medium leading-6 text-gray-500">Telefon</label>
                            <div class="mt-2">
                                <input id="phone" name="phone" type="text"
                                       th:field="${employee.phone}"
                                       class="block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                <!--                            <p class="text-red-500" th:if="${#fields.hasErrors('employeePhone')}" th:errorclass="error" th:errors="*{employeePhone}">-->
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="email"
                                   class="block text-sl font-medium leading-6 text-gray-500">Email</label>
                            <div class="mt-2">
                                <input id="email" name="email" type="email"
                                       th:field="${employee.email}"
                                       class="block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6">
                                <!--                            <p class="text-red-500" th:if="${#fields.hasErrors('employeePhone')}" th:errorclass="error" th:errors="*{employeePhone}">-->
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="department"
                                   class="block text-sl font-medium leading-6 text-gray-500">Wydział</label>

                            <div class="mt-2">
                                <select name="department" id="department" autocomplete="type"
                                        th:field="${employee.department.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                    <option th:each="department : ${departments}"
                                            th:text="${department.name}"
                                            th:value="${department.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
                        <div class="sm:col-span-1">

                            <div class="inline-flex items-center">
                                <label class="relative flex items-center p-3 rounded-full cursor-pointer"
                                       htmlFor="check">

                                    <input checked id="bordered-checkbox-2" type="checkbox" value=""
                                           name="bordered-checkbox" th:checked="${employee.isActive}"
                                           th:field="*{isActive}"
                                           class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-600 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <span
                                            class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
           stroke="currentColor" stroke-width="1">
        <path fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"></path>
      </svg>
    </span>
                                </label>
                                <label class="mt-px font-light text-gray-700 cursor-pointer select-none"
                                       htmlFor="check">
                                    Aktywny/Nieaktywny
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-5">
                <div class="flex justify-end">
                    <button type="button"
                            class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <a th:href="@{/employees?pageNo={pageNo}(pageNo=${pageNo})}">Wstecz</a>
                    </button>
                    <button type="submit"
                            class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Zapisz
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
