<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz Awizo</title>
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" th:href="@{/css/mainold.css}"/>-->

</head>
<body class="bg-gray-400">

<div class="mt-5">

    <form action="#" th:action="@{/jobs/update/{id}(id=${job.id}, pageNo=${pageNo})}" th:object="${job}" method="post"
          enctype="multipart/form-data">

        <input type="hidden" th:field="*{requestDate}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{department.id}">
        <input type="hidden" th:field="*{employee.id}">
        <input type="hidden" th:field="*{status}">
        <input type="hidden" th:field="*{decision}">
        <input type="hidden" th:field="*{dateOffset}">
        <input type="hidden" th:field="*{offset}">
        <input type="hidden" th:field="*{jobShedule}">
        <input type="hidden" th:field="*{jobStatus}">

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-4xl font-semibold text-gray-900">Edycja zgłoszonej awarii</h1>
                <p class="mt-2 text-lm text-gray-700">Formularz zgłoszenia</p>
            </div>
        </div>

        <div class="overflow-hidden bg-gray-700 shadow sm:rounded-lg">
            <div class="px-4 py-2 sm:px-6">
                <h3 class="text-2xl font-medium leading-6 text-yellow-400">Dane dotyczące awarii</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-400">Nalezy wypełnić wszystkie pola, w celu przekazania
                    mechanikowi wszelkich możliwych informacji</p>

            </div>
        </div>
    </div>

    <div class="px-1 sm:px-6 lg:px-8 py-2">
        <div class="overflow-hidden bg-gray-300 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">

                <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-3">
                    <div class="sm:col-span-3">
                        <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-3">
                            <div class="sm:col-span-1">
                                <label for="employee"
                                       class="block text-sl font-medium leading-6 text-gray-500">Zgłaszający</label>

                                <div class="mt-2">
                                    <select name="employee" id="employee" autocomplete="employee"
                                            th:field="${job.employee.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                        <option th:each="employee : ${employees}"
                                                th:text="${employee.name}"
                                                th:value="${employee.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="departmentId"
                                       class="block text-sl font-medium leading-6 text-gray-500">Wydział</label>

                                <div class="mt-2">
                                    <select name="departmentId" id="departmentId" autocomplete="type" onchange="selectMachine()"
                                            th:field="${job.department.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                        <option th:each="department : ${departments}"
                                                th:text="${department.name}"
                                                th:value="${department.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="machineId"
                                       class="block text-sl font-medium leading-6 text-gray-500">Maszyna</label>

                                <div class="mt-2">
                                    <select id="machineId" name="machineId" onchange="updateMachineIdAttribute(this.value)" autocomplete="type"
                                            th:field="${job.machine.id}" class="block w-fit rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1
                                ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2
                                sm:text-xl sm:leading-6">
                                        <option th:each="machine : ${machines}"
                                                th:text="${machine.model}"
                                                th:value="${machine.id}">
                                        </option>
                                    </select>
                                    <input type="hidden" th:field="${job.machine.id}" id="selectedMachineValue"
                                           name="selectedMachineValue"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="viewable mt-4 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2">
                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Zdjęcie</dt>
                            <dd class="mt-1 text-sm text-gray-900">
                                <ul role="list "
                                    class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                    <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                        <div class="flex w-0 flex-1 items-center">
                                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            <span class="ml-2 w-0 flex-1 truncate">Fotografia</span>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <!--                                                <a href="#"-->
                                            <!--                                                   class="font-medium text-indigo-600 hover:text-indigo-500">Dołącz</a>-->
                                            <input type="file" accept="image/*" id="image" name="image"
                                                   class="font-medium text-indigo-600 hover:text-indigo-500">
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </div>


                    <div class="viewable sm:col-span-1">
                        <label for="jobStartTime" class="block text-sl font-medium leading-6 text-gray-500">Data
                            rozpoczęcia naprawy</label>
                        <div class="mt-2">
                            <input type="datetime-local"
                                   class="form-control block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6"
                                   th:value="${#temporals.format(job.jobStartTime, 'yyyy-MM-dd HH:mm')}" name="jobStartTime"
                                   id="jobStartTime">
                            <p class="text-red-500" th:if="${#fields.hasErrors('jobStartTime')}" th:errorclass="error" th:errors="*{jobStartTime}">
                        </div>
                    </div>

                    <div class="viewable sm:col-span-1">
                        <label for="jobStopTime" class="block text-sl font-medium leading-6 text-gray-500">Data
                            rozpoczęcia naprawy</label>
                        <div class="mt-2">
                            <input type="datetime-local"
                                   class="form-control block w-full rounded-md border-0 bg-white/3 py-1.5 text-blue-700 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 px-2 sm:text-xl sm:leading-6"
                                   th:value="${#temporals.format(job.jobStopTime, 'yyyy-MM-dd HH:mm')}" name="jobStopTime"
                                   id="jobStopTime">
                            <p class="text-red-500" th:if="${#fields.hasErrors('jobStopTime')}" th:errorclass="error" th:errors="*{jobStopTime}">
                        </div>
                    </div>
                </div>

                <div class="viewable mt-4 px-4 py-5 sm:px-6">
                    <dl class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
                        <div class="sm:col-span-1">
                            <div class="space-y-6 sm:space-y-5">
                                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-300 sm:pt-5">
                                    <label for="message"
                                           class="block-w-full whitespace-nowrap text-xl font-medium text-red-600 sm:mt-px sm:pt-2">Informacje
                                        o
                                        zgłoszeniu</label>
                                    <div class="mt-1 sm:col-span-3 sm:mt-0">
                                        <textarea th:field="*{message}" id="message" rows="4"
                                                  class="block p-2.5 w-full text-xl text-blue-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                  placeholder="Opisz problem jaki wystepuje na maszynie lub urządzeniu"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-span-1">
                            <div class="space-y-6 sm:space-y-5">
                                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-300 sm:pt-5">
                                    <label for="solution"
                                           class="block-w-full whitespace-nowrap text-xl font-medium text-red-600 sm:mt-px sm:pt-2">Opis czynności</label>
                                    <div class="mt-1 sm:col-span-3 sm:mt-0">
                                        <textarea th:field="*{solution}" id="solution" rows="4"
                                                  class="block p-2.5 w-full text-xl text-blue-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                  placeholder="Opisz problem jaki wystepuje na maszynie lub urządzeniu"></textarea>
                                        <p
                                                class="text-danger mt-2 text-lm text-red-500"
                                                th:if="${#fields.hasErrors('solution')}" th:errorclass="error" th:errors="*{solution}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>

                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="button"
                                class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            <a th:href="@{/jobs?pageNo={pageNo}(pageNo=${pageNo})}">Wstecz</a>
                        </button>
                        <button type="submit"
                                class="viewable ml-3 inline-flex justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white shadow-sm  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 bg-indigo-600 hover:bg-indigo-700">
                            Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<script th:src="@{/js/selectDepAndMach.js}"></script>
</body>
</html>

<!--<div class="flex gap-2">-->
<!--    &lt;!&ndash; HTML &ndash;&gt;-->
<!--    <button class="bg-gray-300 px-4 py-2 rounded-md cursor-not-allowed opacity-50" disabled>-->
<!--        Disabled Button-->
<!--    </button>-->

<!--    &lt;!&ndash; HTML &ndash;&gt;-->
<!--    <button class="bg-green-500 hover:bg-green-700 active:bg-green-800 px-4 py-2 rounded-md text-white">-->
<!--        Active Button-->
<!--    </button>-->

<!--</div>-->