<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Zlecenia</title>
    <!--    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">-->

    <link th:href="@{/css/mainold.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body class="bg-gray-500">
<div class="min-h-full">
    <div class="bg-gray-800 pb-2">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-18">
                <div class="border-b border-blue-800">
                    <div class="flex h-16 items-center justify-between px-4 sm:px-0">
                        <div class="flex items-center">
                            <div class="flex flex-shrink-0 items-center px-4">
                                <img class="h-12 w-auto" th:src="@{/images/logo.svg}" alt="Medos"/>

                                <div class="hidden md:block">
                                    <div class="ml-24 flex items-baseline space-x-4">
                                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                    </div>
                                </div>
                            </div>
                            <div class="hidden md:block">
                                <div class="ml-4 flex items-center md:ml-6">

                                </div>
                            </div>
                            <div class="-mr-2 flex md:hidden">
                                <!-- Mobile menu button -->
                                <button type="button"
                                        class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                        aria-controls="mobile-menu" aria-expanded="false">
                                    <span class="sr-only">Open main menu</span>
                                    <!-- Menu open: "hidden", Menu closed: "block" -->
                                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                                    </svg>
                                    <!-- Menu open: "block", Menu closed: "hidden" -->
                                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="border-b border-gray-700 md:hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 py-3 sm:px-3">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    </div>
                </div>
            </div>
        </nav>
        <header class="py-4">


            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-x-2 gap-y-8 sm:grid-cols-2">
                    <div>
                        <h1 th:text="'Zamknięcie zlecenia nr: ' + ${job.id}"
                            class="sm:col-span-1 text-3xl font-bold tracking-tight text-yellow-600"></h1>
                    </div>
                </div>
            </div>

        </header>
    </div>


    <form id="mainForm" role="form" th:action="@{/dashboards/update/{id}(id=${job.id})}" th:object="${job}"
          method="post">
        <input type="hidden" th:field="*{requestDate}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{department.id}">
        <input type="hidden" th:field="*{machine.id}">
        <input type="hidden" th:field="*{message}">
        <input type="hidden" th:field="*{employee.id}">
        <input type="hidden" th:field="*{status}">
        <input type="hidden" th:field="*{resizedImage}">
        <input type="hidden" th:field="*{originalImage}">
        <input type="hidden" th:field="*{calcCost}">
        <input type="hidden" th:field="*{decision}">
        <input type="hidden" th:field="*{dateOffset}">
        <input type="hidden" th:field="*{offset}">
        <input type="hidden" th:field="*{jobShedule}">
        <input type="hidden" th:field="*{jobStatus}">
        <input type="hidden" th:field="*{open}">
        <input type="hidden" id="dateTimeField" name="dateTimeField"/>

        <main class="mt-2">
            <div class="mx-auto max-w-9xl px-4 pb-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden bg-gray-200 shadow border-gray-700 sm:rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                        <div class="bg-gray-300 mx-2 shadow sm:rounded-lg">
                            <section aria-labelledby="features-heading" class="relative">

<!--                                    <img th:src="${'data:image/jpeg;charset=utf8;base64,'+ ${image}}"-->

                                <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16 sm:rounded-lg">
                                    <img src="data:image/jpeg;charset=utf8;base64," th:attrappend="src=${image}"
                                         alt="Issued machine photo"
                                         class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                </div>

                                <div class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-12 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-12 lg:px-8 lg:pt-4">
                                    <div class="lg:col-start-2">
                                        <h2 id="features-heading" class="font-medium text-gray-500">Podsumowanie
                                            zlecenia</h2>
                                        <p class="mt-4 text-4xl font-bold tracking-tight text-gray-900"
                                           th:text="${job.machine.name}">All in the
                                            Details</p>
                                        <p class="mt-8 text-xl text-red-700 break-all" th:text="${job.message}">main
                                            message</p>

                                        <dl class="mt-8 grid grid-cols-1 gap-x-10 gap-y-10 text-sm sm:grid-cols-2 sm:text-lg">
                                            <div>
                                                <dt class="font-medium text-gray-900">Data zgłoszenia</dt>
                                                <dd class="mt-2 text-gray-500"
                                                    th:text="${#temporals.format(job.requestDate, 'dd MMMM yyyy HH:mm')}">
                                                    Data
                                                </dd>
                                            </div>
                                            <div>
                                                <dt class="font-medium text-gray-900">Wydział</dt>
                                                <dd class="mt-2 text-gray-500" th:text="${job.department.name}">wydział
                                                </dd>
                                            </div>
                                            <div>
                                                <dt class="font-medium text-gray-900">Maszyna / Urządzenie</dt>
                                                <dd class="mt-2 text-gray-500" th:text="${job.machine.model}"
                                                    id="machine-model" name="machine-model">machine
                                                </dd>
                                            </div>

                                            <div>
                                                <dt class="font-medium text-gray-900">Osoba zgłaszająca</dt>
                                                <dd class="mt-2 text-gray-500" th:text="${job.employee.name}">zgłosił
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="mx-auto max-w-2xl px-4 pb-4 pt-6 sm:px-6 sm:pb-6 lg:grid lg:max-w-full lg:grid-cols-2 lg:gap-x-2 lg:px-8 lg:pt-4">
                            <div class="lg:col-start-1">
                                <div class="space-y-6 sm:space-y-5">

                                    <div class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:border-t sm:pt-5">

                                        <label for="solution"
                                               class="block text-lm font-medium text-blue-600 sm:mt-px sm:pt-2 sm:text-lg">Opis
                                            wykonanych
                                            czynności</label>
                                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                                                                                    <textarea th:utext="${solution}"
                                                                                              id="solution"
                                                                                              name="solution" rows="5"
                                                                                              class="block  bg-white w-full max-w-fit text-sm text-blue-800 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-2xl"></textarea>

                                                                                        <p
                                                                                           class="text-danger mt-2 text-lm text-red-500"
                                                                                           th:if="${#fields.hasErrors('solution')}" th:errorclass="error" th:errors="*{solution}"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lg:col-start-2">
                                <div class=" sm:mx-8 space-y-6 sm:space-y-5">

                                    <div class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:pt-5 justify-items-start">
                                        <div class="sm:col-span-1">
                                            <label for="engineerId"
                                                   class="block text-lm font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-xl">Realizujący
                                                zlecenie</label>

                                            <div class="sm:col-span-1">
                                                <select th:field="${job.engineer.id}" id="engineerId"
                                                        name="engineerId"
                                                        autocomplete="engineer"
                                                        class="block w-full max-w-lg text-lm text-blue-800 rounded-md border-gray-600 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-2xl">

                                                    <option th:each="engineer : ${engineers}"
                                                            th:text="${engineer.name}"
                                                            th:value="${engineer.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:pt-5 justify-items-start">
                                        <div class="sm:col-span-1">
                                            <label for="jobStartTime"
                                                   class="block text-lm font-medium text-green-700 sm:mt-px sm:pt-2 sm:text-xl">Data
                                                rozpoczęcia
                                                zlecenia</label>
                                            <div class="mt-1 sm:col-span-2 sm:mt-0">

                                                <input type="datetime-local"
                                                       th:field="${job.jobStartTime}"
                                                       id="jobStartTime"
                                                       name="jobStartTime"
                                                       autocomplete="datetime-local"
                                                       class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-xl">
                                            </div>
                                        </div>

                                        <div class="sm:col-span-1">
                                            <label for="jobStartTime"
                                                   class="block text-lm font-medium text-blue-700 sm:mt-px sm:pt-2 sm:text-xl">Data
                                                zakończenia
                                                zlecenia</label>
                                            <div class="mt-1 sm:col-span-2 sm:mt-0">

                                                <input type="datetime-local"
                                                       th:field="${job.jobStopTime}"
                                                       id="jobStopTime"
                                                       name="jobStopTime" autocomplete="date"
                                                       class="block w-full max-w-lg rounded-md border-gray-700 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-xl">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-5">
                            <div class="flex justify-end">
                                <button type="button"
                                        class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                    <a th:href="@{/dashboards}">Wstecz</a>
                                </button>
                                <button type="submit"
                                        class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                    Zapisz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </form>
</div>
</body>
</html>

